/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 60px;
	padding-bottom: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.logo img {
	padding-top: 1px;
}

.div-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 10% 300px 20px;
	
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.div-signin h3 {
	color: #fff;
	font-size: 24px;
}

.div-signin a {
	font-size: 20px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#userImageThumbnail {
	max-height: 25px;
	max-width: 25px;
}

.settings-row {
/* 	max-width: 800px; */
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.settings-card {
/* 	-webkit-box-shadow: 1px 1px 1px 1px #e5e5e5; */
/* 	background-color: #ffffff; */
	box-shadow: 1px 1px 1px 1px #e5e5e5;
/*  margin:10px;	  */
box-shadow: inset 0px 1px 2px #ccc;
outline: none;
display: inline-block;
margin: 10px;
  box-shadow:inset 0px 0px 1px #ffc;

/* background-color: #ececec; */
/* box-shadow: inset 0px 1px 2px #fff; */
/* border: 1px solid #ccc; */
/* border-radius: 3px; */
width:250px;
height:150px;
color:#FFFFFF;
}


.media{
	padding:15px;
}

.settings-row img {
	max-height: 48px;
	max-width: 48px;
}
